---
const cookies = [
    {
        name: "Luna",
        img: "/luna.webp",
        colorPrincipal: "group-hover:bg-[--primary-blue-astro]",
        colorBoton1: "bg-red-800",
        colorBoton2: "bg-red-100",
        colorFont: "group-hover:text-[--cake-astro]",
        description:"La Luna no sabe a queso pero si a sue침os, galleta de chocolate blanco y almendras",
    },
    {
        name: "Venus",
        img: "/venus.webp",
        colorPrincipal: "group-hover:bg-[--cake-astro]",
        colorBoton1: "bg-red-800",
        colorBoton2: "bg-red-100",
        colorFont: "group-hover:text-[--darkest-blue-astro]",
        description:"Te gusta el chocolate? 游꼶 Esta ser치 tu favorita, galleta de chocolate y nueces con relleno de crema de avellana",
    },
    {
        name: "Marte",
        img: "/marte.webp",
        colorPrincipal: "group-hover:bg-[--green-astro]",
        colorBoton1: "bg-red-800",
        colorBoton2: "bg-red-100",
        colorFont: "group-hover:text-[--cake-astro]",
        description:" El planeta rojo sabe a galleta de red velvet y chocolate blanco rellena de crema de queso ",
    },
    {
        name: "Sol",
        img: "/sol.webp",
        colorPrincipal: "group-hover:bg-[--purple-astro]",
        colorBoton1: "bg-red-800",
        colorBoton2: "bg-red-100",
        colorFont: "group-hover:text-[--cake-astro]",
        description:" La cl치sica galleta con chispitas de colores pero mejorada! Galleta de vainilla con sprinkles rellena de맊rema맋e맘ueso",
    },
    {
        name: "Urano",
        img: "/urano.webp",
        colorPrincipal: "group-hover:bg-[--dark-blue-astro]",
        colorBoton1: "bg-red-800",
        colorBoton2: "bg-red-100",
        colorFont: "group-hover:text-[--cake-astro]",
        description:"No tan dulce, no tan 치cida, definitivamente diferente, galleta de vainilla con relleno de cheesecake de maracuya",
    },
    {
        name: "Saturno",
        img: "/saturno.webp",
        colorPrincipal: "group-hover:bg-[--yellow-astro]",
        colorBoton1: "bg-red-800",
        colorBoton2: "bg-red-100",
        colorFont: "group-hover:text-[--darkest-blue-astro]",
        description:"Cl치sico de cl치sicos, galleta de chocolate semiamargo y nueces de nogal",
    },
];
---

<section class="flex flex-col sm:gap-12 sm:mx-32">
    <div class="flex flex-col m-2 sm:m-5 p-5 sm:p-10">
        <h3
            class="font-bold border p-3 rounded-full bg-[--primary-blue-astro] w-max text-center text-sm sm:text-xl text-[--cake-astro]">
            Temporada de oto침o
        </h3>
        <h1 class="font-extrabold text-3xl sm:text-6xl my-4">Nuestras galletas!</h1>
    </div>

{
    cookies.map((cookie, index) =>(
    <div class={`flex justify-center items-center group my-10`}>
        <div
            class={`flex items-center m-10 border border-none rounded-3xl w-[380px] h-[120px] sm:w-[1500px] sm:h-[334px] ${cookie.colorPrincipal}  transition-all duration-700 ease-in-out  ${index % 2 === 0 ? '' : 'flex-row-reverse'}`}>
            <div class="w-auto">
                <img
                    src={`${cookie.img}`}
                    class=" h-auto w-min sm:h-[500px] object-fit sm:w-[500px] sm:aspect-square sm:object-cover"
                    alt="logo"
                />
            </div>
            <div class="w-[400px] mx-3 sm:w-[900px]">
                <h2
                    class={`text-md font-semibold sm:text-4xl sm:font-bold  ${cookie.colorFont} transition-all ease-in-out duration-700`}>
                    Galleta {cookie.name}
                </h2>
                <p
                    class={`flex text-xs sm:text-xl font-medium flex-wrap ${cookie.colorFont} transition-all ease-in-out duration-700`}>
                   {cookie.description}
                </p>
                <div class="flex gap-1 my-1 sm:my-5 sm:gap-5 justify-start items-start">
                    <button
                        class="w-[80px] sm:w-max text-[10px] md:text-lg border-0 font-semibold m-0 sm:p-2 rounded-full group-hover:bg-[--cake-astro] transition-all group-hover:text-[--darkest-blue-astro] group-hover:px-1 sm:group-hover:px-4 duration-700 ease-in-out"
                        >Informacion</button>
                    <button
                        class="w-[80px] sm:w-max text-[10px] md:text-lg border-0 font-semibold m-0 sm:p-2 rounded-full group-hover:bg-[--darkest-blue-astro] transition-all group-hover:text-white group-hover:px-1 sm:group-hover:px-4 duration-700 ease-in-out"
                        > <a href="http://wa.me/573007577246/?text=Hola Quiero comprar una galleta!" target="_blank">Ordena ahora!</a></button>
                </div>
            </div>
        </div>
    </div>      
  ))
}
    
    
</section>
